In [5]:
import pandas as pd
df = pd.read_csv('data/imputed_data.csv',index_col=None)
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322004 entries, 0 to 322003
Data columns (total 16 columns):
Unnamed: 0            322004 non-null int64
sp_lim                322004 non-null int64
road                  322004 non-null object
weather               322004 non-null object
light                 322004 non-null object
crash                 322004 non-null int64
weekday               322004 non-null int64
report_type           322004 non-null object
num_units             322004 non-null float64
device                322004 non-null object
month                 322004 non-null int64
year                  322004 non-null int64
damage                322004 non-null object
street_direction      322004 non-null object
beat_of_occurrence    322004 non-null float64
binned_speed          322004 non-null object
dtypes: float64(2), int64(6), object(8)
memory usage: 39.3+ MB

,Unnamed: 0,sp_lim,road,weather,light,crash,weekday,report_type,num_units,device,month,year,damage,street_direction,beat_of_occurrence,binned_speed
0,2,25,NO_DEFECT,CLEAR,DAYLIGHT,0,7,no_report,1.0,NO,8,2019,"$501 - $1,500",S,332.0,M
1,3,30,NO_DEFECT,CLEAR,DAYLIGHT,0,6,no_report,1.0,NO,8,2019,"$501 - $1,500",N,1831.0,M
2,4,30,NO_DEFECT,CLEAR,DAYLIGHT,0,7,no_report,1.0,NO,8,2019,"$501 - $1,500",N,1921.0,M
3,5,30,DEFECTIVE,CLEAR,DAYLIGHT,0,4,no_report,2.0,WORKING,8,2019,"OVER $1,500",S,911.0,M
4,6,30,NO_DEFECT,CLEAR,DAYLIGHT,0,6,ON SCENE,2.0,WORKING,8,2019,"OVER $1,500",S,923.0,M

In [6]:
# missing data %
row, column = df.shape
round(((row - df.isnull().sum())/ row) * 100)

Unnamed: 0            100.0
sp_lim                100.0
road                  100.0
weather               100.0
light                 100.0
crash                 100.0
weekday               100.0
report_type           100.0
num_units             100.0
device                100.0
month                 100.0
year                  100.0
damage                100.0
street_direction      100.0
beat_of_occurrence    100.0
binned_speed          100.0
dtype: float64